body {
    background-color: aqua;
}

.sasuke {
    background-color: cadetblue;
}



.naruto-grid {
    display: flex;
    flex-direction: row;
  }
  
.grid-item {
    /* styles for grid items */
}
  